body{
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #F6F6F6;
}
body h1,h2,h3,h4,h5,ul,li,a,img,dl,dt,dd,p{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
/*******************头部样式设置********************/
.header{
    background-color: #fff;
}
.header_top{
    background-color: #F6F6F6;
}
.header_top:after{
    display: block;
    content: "";
    clear: both;
}
.header_top>div{
    width: 1190px;
    margin: 0 auto;
}
.header_top li{
    display: inline-block;
    font-size: 13px;
    padding-right: 20px;
    color: #999;
    padding-top: 12px;
    padding-bottom: 12px;
}
.header_top li a{
    color: #999;
}
.header_top ul{
    display: inline-block;
}
.header_top .header_left{
    display: inline-block;
    float: left;
}
.header_top .header_right{
    display: inline-block;
    float: right;
}
.header_top .header_right li:last-child{
    padding-right: 0;
}
.header_left .home{
    position: relative;
    padding-left: 14px;
}
.header_left .home:before{
    position: absolute;
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(../image/home.png) no-repeat left bottom;
    content: "";
    left: 0;
    top: 15px;
}
.header_right .user{
    position: relative;
    padding-left: 20px;
}
.header_right .user a:first-child{
    color: #000;
}
.header_right .user:before{
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../image/user.png) no-repeat left bottom;
    content: "";
    top: 13px;
    left: 0;
}
.header_left .tools{
    position: relative;
}
.header_left .tools:after{
    display: inline-block;
    content: "";
    border-top: 6px solid #666;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    top: 17px;
    right: 5px;
}
.tools div{
    position: absolute;
    bottom: -118px;
    left: -35px;
    width: 190px;
    background-color: #EAEAEA;
    padding: 10px;
    border-radius: 8px;
}
.tools div a{
    display: inline-block;
    width: 90px;
    text-align: center;
    color: #000;
    padding: 5px 0;
}
.header_bottom{
    width: 1190px;
    margin: 0 auto;
    height: 90px;
    line-height: 90px;
    vertical-align: middle;
}
.header_bottom:after{
    display: block;
    content: "";
    clear: both;
}
.header_bottom .header_logo{
    float: left;
    padding-top: 4px;
    height: 90px;
}
.header_bottom .header_nav{
    float: right;
}
.header_bottom .header_nav a{
    margin: 0 10px;
    padding: 0 10px;
    height: 87px;
    display: inline-block;
    color: #666;
}
.header_bottom .header_nav a:hover{
    border-bottom: 3px solid #20CB9A
}
/***************头部样式结束****************/


/**********************图片滚动的样式*************************/
.banner_scroll{
    position: relative;
    overflow: hidden;
    height: 100px;
    padding-bottom: 30px;
}
.banner_scroll ul{
    position: absolute;
}
.banner_scroll ul:after{
    display: block;
    content: "";
    clear: both;
}
.banner_scroll li{
    float: left;
    width: 1190px;
    height: 100px;
    padding: 0;
}
.banner_scroll li img{
    width: 1190px;
    height: 100px;
}




/*****************banner样式设置****************/
.banner{
    background-size: cover;
    height: 400px;
    background: url(../image/brandSverice/brand_banner_bg.jpg) no-repeat top center;
}
.center_content{
    width: 1190px;
    margin: 0 auto;
    margin-top: 18px;
}
.search_box{
    margin-top: -90px;
    height: 254px;
    position: relative;
    padding-top: 15px;
    background: url(../image/brandSverice/search_bg.png) no-repeat;
    background-size: 100%;
}
.search_box:before{
    display: block;
    content: "";
    clear: both;
}
.search_box .search_title{
    display: block;
    width: 532px;
    height: 26px;
    background: url(../image/brandSverice/brand_query.png) no-repeat;
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 35px;*/
    margin-bottom: 13px;
}
.search_div{
    width: 1100px;
    height: 58px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    overflow: hidden;
    border: 1px solid #8c8c8c;
    border-radius: 5px;
    position: relative;
}
.search_input{
    float: left;
    width: 807px;
    height: 58px;
    padding-left: 20px;
    position: relative;
}
.search_input .search_icon{
    display: inline-block;
    width: 19px;
    height: 20px;
    background: url(../image/brandSverice/search.png) no-repeat;
    position: absolute;
    top: 19px;
}
.search_input:after{
    display: block;
    clear: both;
    content: "";
}
.search_input .search_text{
    height: 58px;
    width: 770px;
    line-height: 58px;
    padding: 0;
    border-width: 0;
    border-color: transparent;
    padding-left: 35px;
    color: #999;
    font-size: 14px;
    outline: none;
}
.search_btn{
    display: block;
    position: absolute;
    right: 0;
    top: -2px;
    width: 273px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #ff7734;
    color: #fff;
    font-size: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 666;
}
.search_scroll:before{
    display: block;
    content: "";
    clear: both;
}
.search_scroll{
    width: 1100px;
    height: 55px;
    line-height: 55px;
    margin: 0 auto;
    margin-top: 35px;
    overflow: hidden;
    position: relative;
}
.search_scroll ul{
    position: absolute;
}
.search_scroll ul:after{
    display: block;
    content: "";
    clear: both;
}
.search_scroll li{
    float: left;
    width: 365px;
    font-size: 14px;
    color: #afafaf;
    text-align: center;
}
.subtitle{
    position: relative;
    padding-bottom: 10px;
}
.subtitle:after{
    display: block;
    content: "";
    clear: both;
}
.subtitle:before{
    display: inline-block;
    content: "";
    width: 6px;
    height: 22px;
    background-color: #1AD2A0;
    position: absolute;
    left: 0;
    top: 6px;
}
.subtitle h2{
    font-weight: normal;
    padding-left: 20px;
    display: inline-block;
    float: left;
}
.subtitle span{
    font-size: 14px;
    color: #888;
}
.subtitle a{
    color: #888;
}
.subtitle>span{
    float: right;
    padding-top: 10px;
}
.subtitle img{
    display: inline-block;
    width: 40px;
    height: 20px;
    float: right;
    margin-left: 5px;
}
.dotted{
    float: left;
    width: 725px;
    background: url(../image/brandSverice/dotted.png) repeat;
    height: 1px;
    position: relative;
    top: 23px;
    margin: 0 15px;
}
.showBox{
    margin-bottom: 50px;
}
.showBox:after{
    display: block;
    content: "";
    clear: both;
}
.flow{
    display: inline-block;
    transition: all .5s;
    box-shadow: 3px 3px 8px #c7c7c7;
    margin-bottom: 10px;
}
.flow:hover{
    transform: translate(0,-5px);
}
.showBox div a{
    display: block;
    padding: 0;
}
.showBox01>div{
    float: left;
    display: inline-block;
    height: 290px;
    width: 290px;
    margin-right: 10px;
}
.showBox01>div:last-child{
    margin-right: 0;
}
.showBox01>div>div{
    width: 290px;
    height: 140px;
}
.showBox01>div>div:first-child{
    margin-bottom: 10px;
}
/********************热门行业注册样式******************/
.hot_register{
    margin-bottom: 40px;
}
.hot_register:after{
    display: block;
    clear: both;
    content: "";
}
.category_type{
    width: 155px;
    height: 380px;
    float: left;
    background-color: #2f3840;
    text-align: center;
}
.category_type li{
    color: #fff;
    height: 96px;
    line-height: 96px;
}
.category_type .aim{
    background-color: #1AD2A0;
}
.category_box{
    width: 1035px;
    float: left;
}
.box_title{
    text-align: center;
    background-color: #BCC2C8;
    color: #fff;
    font-size: 12px;
    height: 35px;
    line-height: 35px;
}
.category_show{
    background-color: #fff;
}
.category_show>div>div{
    float: left;
    width: 515px;
    border-bottom: 1px dotted #e4e4e4;
}
.category_show>div>div:first-child{
    border-right: 1px dotted #e4e4e4;
}
.category_show>div>div ul{
    width: 470px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.category_show dl{
    text-align: center;
}
.category_show dt{
    font-size: 20px;
    color: #333;
    margin-top: 30px;
}
.category_show dd{
    font-size: 12px;
    color: #999;
    height: 18px;
    line-height: 18px;
}
.category_show li{
    text-align: center;
    float: left;
    width: 133px;
    height: 34px;
    line-height: 33px;
    font-size: 14px;
    color: #999;
    border: 1px solid #888;
    border-radius: 10px;
    margin-left: 15px;
    margin-top: 20px;
    cursor: pointer;
}
.category_show>div:first-child:after{
    display: block;
    content: "";
    clear: both;
}
.category_show .active{
    border-color: #1ad2a0;
    color: #1ad2a0;
    background: url(../image/brandSverice/select_bg.png) no-repeat top right;
}
.submit_btn{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 5px;
}
.submit_btn a{
    display: inline-block;
    background-color: #FF7200;
    color: #fff;
    font-size: 20px;
    height: 45px;
    line-height: 45px;
    width: 250px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    border-radius: 10px;
}
/************************商标信息变更样式***************************/
.message_change{
    margin-bottom: 20px;
}
.message_change:after{
    display: block;
    content: "";
    clear:both;
}
.box_001>div{
    width: 440px;
    height: 220px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.box_001 .box_006{
    display: block;
    width: 290px;
    height: 220px;
    float: left;
    margin-bottom: 10px;
    margin-right: 0;
}
.box_002 div{
    float: left;
}
.box_003{
    width: 290px;
    height: 330px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.box_004{
    width: 890px;
    float: left;
}
.box_004>div:first-child{
    margin-right: 10px;
}
.box_005{
    width: 440px;
    height: 160px;
    float: left;
    margin-bottom: 10px;
}
.box_006 a{
    display: block;
    float: left;
    width: 290px;
    height: 160px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.box_006 a:last-child{
    margin-right: 0;
}
/***********************商标注册疑难样式*******************/
.box_010{
    width: 290px;
    height: 390px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.box_013>a{
    width: 290px;
    height: 220px;
    margin-right: 5px;
    margin-bottom: 10px;
}
.box_013 a:last-child{
    margin-right: 0;
}
.box_014 a{
    width: 440px;
    height: 160px;
}
.box_014 a:first-child{
    margin-right: 5px;
}
.box_012 a{
    width: 290px;
    height: 160px;
    margin-right: 5px;
}
.box_012 a:last-child{
    margin-right: 0;
}
.guide_title{
    width: 1190px;
    margin: 30px  auto 0;
}
.guide_box{
    background-color: #fff;
    margin-bottom: 50px;
}
.guide_box:before{
    display: block;
    content: "";
    clear: both;
}
.guide_box:after{
    display: block;
    content: "";
    clear: both;
}
.guide_div{
    width: 1190px;
    margin: 0 auto;
}
.guide_line{
    width: 1080px;
    height: 4px;
    background: url(../image/brandSverice/dotted01.png) repeat-x;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 80px;
}
.guide_top{
    height: 140px;
    position: relative;
    margin-top: 35px;
}
.guide_top:after{
    display: block;
    content: "";
    clear: both;
}
.guide_top li{
    position: absolute;
    text-align: center;
    width: 160px;
}
.guide_top li:first-child{
    top: 0;
    left: 0;
}
.guide_top li:nth-child(2){
    top: 0;
    left: 500px;
}
.guide_top li:nth-child(3){
    top: 0;
    right: 0;
}
.guide_top li p{
    font-size: 14px;
    color: #999;
}
.guide_top li p strong{
    font-size: 16px;
    color: #000;
}
.guide_top i{
    display: inline-block;
    width: 86px;
    height: 85px;
    background: url(../image/brandSverice/brand_giude.png) no-repeat;
}
.guide_top .icon01{
    background-position: 0 0;
}
.guide_top .icon02{
    background-position: 0 -100px;
}
.guide_top .icon03{
    background-position: 0 -211px;
}
.guide_bt{
    width: 1058px;
    height: 165px;
    background-color: #fbfbfb;
    border: 2px solid #eee;
    text-align: center;
    margin: 0 auto;
    position: relative;
    margin-top: 10px;
}
.guide_bt i {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../image/brandSverice/guide_icon.png) no-repeat;
}
.guide_bt li:nth-child(2) i{
    background-position: 0 -30px;
}
.guide_bt li:nth-child(3) i{
    background-position: 0 -60px;
}
.guide_bt li:nth-child(4) i{
    background-position: 0 -90px;
}
.guide_bt li:nth-child(5) i{
    background-position: 0 -120px;
}
.guide_box{
    padding-bottom: 50px;
}

.guide_bt li{
    text-align: center;
    width: 210px;
    float: left;
    margin-top: 35px;
    position: relative;
}
.guide_bt li:after{
    content: '';
    background: url(../image/brandSverice/reverse_dotted.png) repeat-y;
    width: 1px;
    height: 80px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.guide_bt li:last-child:after{
    background: transparent;
}
.guide_bt_title{
    color: #333;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.guide_bt_detail{
    font-size: 12px;
    color: #999;
    line-height: 20px;
}
/*****************************成功案例的样式**********************/
.success_story{
    width: 1190px;
    margin: 0 auto 60px;
}
.success_story li{
    width: 190px;
    margin-top: 10px;
    float: left;
    margin-left: 10px;
}
.case_show:after{
    display: block;
    content: "";
    clear: both;
}


/*******************底部样式***************/

.footer{
    background-color: #272727;
}
.footer_box{
    width: 1190px;
    margin: 0 auto;

}
.footer_top{
    color: #C6C6C6;
    padding: 40px 0;
    border-bottom: 1px solid #3C3C3D;
}
.footer_top p{
    font-size: 14px;
}
.footer_top li{
    display: inline-block;
}
.footer_top ul{
    position: relative;
    float: left;
}
.footer_top ul:before{
    position: absolute;
    background-color: #fff;
    display: inline-block;
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.footer_top ul:after{
    position: absolute;
    background-color: #fff;
    left: 5px;
    top: 4px;
    width: 16px;
    height: 16px;
    float: left;
    content: "";
    background: url(../image/phone.png) no-repeat;
    background-size: 16px;
    /*border-radius: 50%;*/
}
.footer_top ul li{
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px solid #fff;
    height: 18px;
    line-height: 18px;
    font-weight: 500;
    font-size: 18px;
}
.footer_top ul li:first-child{
    padding-left: 50px;
}
.footer_top p{
    float: right;
}
.footer_top p span{
    padding: 0 10px;
}
.footer_top p span:last-child{
    padding-right: 0;
}
.footer_bottom>div{
    float: left;
}
.footer_bottom:after{
    display: block;
    clear: both;
    content:"";
}
.footer_theme p{
    color: #CACACA;
    padding-bottom: 20px;
}
.footer_bottom .theme_detail a{
    color: #8E8D8D;
    text-decoration: none;
}
.footer_theme>li{
    float: left;
    width: 244px;
}
.footer_theme{
    margin-top: 20px;
}
.footer_theme:after{
    display: block;
    content: "";
    clear: both;
}
.theme_detail li{
    padding-bottom: 10px;
    font-size: 14px;
}
.blogroll li{
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    height: 14px;
    border-right: 1px solid #727272;
    padding: 0 15px;
    margin: 10px 0;
}
.blogroll li:first-child{
    padding-left: 0;
}
.blogroll li:last-child{
    border-right: none;
}
.blogroll a{
    color: #727272;
    text-decoration: none;
}
.footer_right_top div{
    width: 95px;
    height: 151px;
    display: inline-block;
    padding-bottom: 20px;
}
.footer_right_top img{
    width: 95px;
    height: 95px;
    padding: 0;
}
.footer_right_top p{
    color: #fff;
    font-size: 14px;
    padding-left: 2px;
    padding-top: 10px;
}
.footer_right{
    padding-top: 20px;
    padding-bottom: 50px;
    width: 212px;
}
.footer_right_top{
    text-align: center;
}
.footer_right_bottom li{
    width: 97px;
    height: 47px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 6px;
}
.footer_right_bottom li:first-child{
    background: url(../image/honor01.jpg) no-repeat left top;
}
.footer_right_bottom li:nth-child(2){
    background: url(../image/honor02.jpg) no-repeat left top;
}
.footer_right_bottom li:nth-child(3){
    background: url(../image/honor03.jpg) no-repeat left top;
}
.footer_right_bottom li:nth-child(4){
    background: url(../image/honor04.jpg) no-repeat left top;
}
.blogroll{
    margin-top: 25px;
}
.copyright p{
    margin-top: 16px;
    font-size: 14px;
    color: #3E3E3E;
    line-height: 100%;
    letter-spacing: 1px;
}














