body{
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
    font-size: 16px;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    border: none;
    box-sizing: border-box;
}
* :before,:after{
    box-sizing: border-box;
}
.lf{
    float: left;
}
.rt{
    float: right;
}
.clear:after{
    display: block;
    content: "";
    clear: both;
}
.content{
    width: 100%;
}
.content_box{
    width: 1200px;
    min-height: 300px;
    margin: 0 auto;
}
.content_box>div{
    width: 100%;
}
.content_box .path{
    font-size: 13px;
    width: 100%;
}
.content_box .path span{
    margin-left: 10px;
    color: #878D99;
}
.content_box .path span a{
    color: #878D99;
}
.content_box .path span:first-child{
    margin-left: 0;
}
.content_box .path span:before{
    display: inline-block;
    content: ">";
    font-size: 16px;
    margin-right: 10px;
}
.commodity{
    margin-top: 15px;
    padding-bottom: 30px;
    border-bottom: 1px solid #D8DCE5;
}
.commodity .img_box{
    width: 280px;
    height: 280px;
}
.commodity .img_box img{
    width: 280px;
    height: 280px;
}
.commodity .info{
    width: 620px;
    height: 240px;
    margin-left: 20px;
}
.commodity .info .info-title{
    font-size: 18px;
    font-weight: bolder;
}
.commodity .info .info-sub-title{
    margin-top: 5px;
    color: #878d99;
    font-size: 12px;
    font-weight: 300;
}
.commodity .info .info-price{
    margin-top: 12px;
    width: 610px;
    height: 65px;
    background-color: #f4f6f8;
    padding-top: 20px;
    padding-left: 16px;
}
.commodity .info .info-price .info-sm-title{
    font-size: 13px;
    color: #878d99;
    font-weight: 300;
    margin-right: 20px;
}
.commodity .info .info-price .info-sm-title .info-blank{
    font-size: 13px;
    color: #878d99;
    font-weight: 300;
    margin-right: 25px;
}
.commodity .info .info-price .info-price-num{
    color: #fd4956;
    font-size: 26px;
    font-weight: bolder;
}
.commodity .info .info-price .info-price-word{
    color: #fd4956;
    font-size: 16px;
}
.commodity .info .info-price .word-rise{
    padding-left: 5px;
}
.commodity .info .info-service{
    padding-top: 12px;
    padding-left: 16px;
    width: 620px;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
}
.commodity .info .info-service .info-option-title{
    font-size: 13px;
    color: #878d99;
    font-weight: 300;
    width: 70px;
    padding-top: 6px;
}
.commodity .info .info-service .info-service-cells{
    flex: 1;
}
.commodity .info .info-service .info-service-cells{
    background-color: #fff4e5;
    border: 1px dashed #b4bccc;
    color: #5a5e66;
    padding: 5px;
    margin: 0 10px 10px 0;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
}
.commodity .info .info-buy{
    background-color: #fd4956;
    width: 189px;
    height: 42px;
    margin-left: 86px;
    margin-top: 25px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}
.commodity .info .info-buy .info-buy-word{
    font-size: 16px;
    font-weight: bolder;
    padding-top: 10px;
    color: #fff;
}
.commodity .self{
    width: 257px;
    padding-bottom: 10px;
    border: 1px solid #e6ebf5;
    box-shadow: 0 1px 4px 0 rgba(179,192,206,.3);
}
.commodity .self .self-title{
    background: radial-gradient(#e6d1ab 0,#dabd83 100%);
    width: 254px;
    height: 50px;
}
.commodity .self .self-title .self-title-word{
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    padding-top: 15px;
    text-align: center;
    position: relative;
}
.commodity .self .self-title .self-title-word:before{
    content: " ";
    width: 38px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 40px;
    top: 26px;
}
.commodity .self .self-title .self-title-word:after{
    content: " ";
    width: 38px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    right: 40px;
    top: 26px;
}
.commodity .self .self-content{
    padding-left: 17px;
}
.commodity .self .self-content .self-company{
    font-size: 16px;
    color: #5a5e66;
    width: 165px;
    display: inline-block;
    padding-top: 18px;
}
.commodity .self .self-content .self-loc{
    font-size: 14px;
    color: #878d99;
    width: 55px;
    display: inline-block;
    text-align: right;
}
.commodity .self .self-content .self-btn{
    display: block;
    margin: 20px 0;
    width: 225px;
    height: 40px;
    line-height: 40px;
    background: #ff7955;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1px 4px 0 rgba(255,121,85,.3);
    font-size: 15px;
}
.commodity .self .self-content .self-btn .icon-consultation{
    display: inline;
    margin-left: 8px;
    font-size: 14px;
}
.commodity .self .self-content .self-item{
    display: inline-block;
    width: 60px;
    color: #878d99;
    text-align: center;
    margin-right: 16px;
    font-size: 13px;
}
.commodity .self .self-content .self-item .icon-pay-img{
    background: url(//as.zbjimg.com/static/nodejs-caishui-pc-web/img/self.67e3659.png) no-repeat;
    background-size: cover;
}
.commodity .self .self-content .self-item{
    font-size: 12px;
}
.commodity .self .self-content .self-item i{
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 3px 20px;
}
.commodity .self .self-content .self-item .icon-pei-img{
    background: url(//as.zbjimg.com/static/nodejs-caishui-pc-web/img/self.67e3659.png) no-repeat -20px 0;
    background-size: cover;
}
.commodity .self .self-content .self-item .icon-swear-img{
    background: url(//as.zbjimg.com/static/nodejs-caishui-pc-web/img/self.67e3659.png) no-repeat -40px 0;
    background-size: cover;
}
.commodity .self .self-content>img{
    width: 225px;
    height: 105px;
}
.commodity .self .self-content .self-word{
    font-size: 10px;
    text-align: center;
    color: #a8b0bb;
    margin-right: 15px;
}

.recommend .title{
    margin-top: 50px;
}
.recommend .title .icon-star-style{
    color: #ff7955;
}
.recommend .title .icon-star{
    color: #ff7955;
}
.recommend .title .title-word{
    font-size: 16px;
    color: #5a5e66;
}
.recommend .title .title-word-en{
    font-size: 16px;
    color: #b4bccc;
    text-transform: Uppercase;
    font-weight: 300;
    margin-left: 15px;
}

.recommend-other .other-current{
    float: left;
    display: inline-block;
}
.recommend-other .other-current img{
    margin-top: 23px;
    width: 135px;
    height: 135px;
}
.recommend-other .other-current .pro-name{
    font-size: 12px;
    width: 135px;
    text-align: center;
}
.recommend-other .other-plus{
    float: left;
    height: 178px;
    color: #d8dce5;
    margin: 0 18px;
    padding-top: 76px;
}
.recommend-other .other-prev-btn{
    padding: 63px 0 0 7px;
    margin-top: 20px;
    float: left;
    width: 25px;
    height: 150px;
    text-align: center;
    border: 1px solid #d8dce5;
    cursor: pointer;
}
.recommend-other .other-content{
    float: left;
    width: 735px;
    overflow: hidden;
    margin: 0 10px;
}
.recommend-other .other-content .other-list{
    float: left;
    margin-top: 20px;
    display: inline-block;
    height: 150px;
    white-space: nowrap;
    transition: all .2s linear;
}
.recommend-other .other-content .other-list li{
    position: relative;
    display: inline-block;
    width: 237px;
    height: 149px;
    margin-right: 10px;
    padding: 1px;
    border: 1px solid #d8dce5;
    cursor: pointer;
    overflow: hidden;
}
.recommend-other .other-content .other-list li .other-name{
    width: 232px;
    height: 46px;
    line-height: 46px;
    border-bottom: 1px solid #dadee6;
    text-align: center;
    background: #f4f6f8;
    font-size: 14px;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.recommend-other .other-content .other-list li .other-description{
    display: inline-block;
    width: 235px;
    height: 50px;
    color: #878d99;
    font-size: 12px;
    padding: 15px 10px 0;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
}
.recommend-other .other-content .other-list li .other-price{
    font-weight: 700;
    font-size: 23px;
    color: #fd4956;
    text-align: center;
    padding: 7px 10px 0;
}
.recommend-other .other-content .other-list li .other-price .other-price-symbol{
    font-size: 14px;
}
.recommend-other .other-content .other-list li .other-price .other-price-word{
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
}
.recommend-other .other-content .other-list li .other-price .select-flag{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 14px;
    height: 14px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAFoTx1HAAAAGXRFW…ieP2BADhxMG9g5GRjCgUH88wcDw9ppDAx/fqOEKs4gxwcAUVJEDTHM+FUAAAAASUVORK5CYII=) no-repeat;
    display: none;
}
.recommend-other .other-next-btn{
    padding: 63px 0 0 7px;
    margin-top: 20px;
    float: left;
    width: 25px;
    height: 150px;
    text-align: center;
    border: 1px solid #d8dce5;
    cursor: pointer;
}
.recommend-other .other-next-btn .icon-arrow-tall{
    display: inline-block;
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-left: -7px;
}
.recommend-other .other-equals{
    width: 25px;
    float: left;
    height: 178px;
    color: #d8dce5;
    margin: 0 17px;
    position: relative;
}
.recommend-other .icon-equal{
    font-size: 25px;
    position: absolute;
    top: 80px;
    left: 0;
    width: 24px;
    height: 25px;
    overflow: hidden;
}
.recommend-other .other-result{
    float: left;
    width: 140px;
}
.recommend-other .other-result .other-result-title{
    margin: 30px 0 0;
    font-size: 14px;
}
.recommend-other .other-result .other-result-title .other-num{
    padding: 0 5px;
    color: #fd4956;
    font-weight: 700;
}
.recommend-other .other-result .other-result-type{
    padding-top: 10px;
    color: #878d99;
    font-size: 12px;
}
.recommend-other .other-result .other-price{
    font-weight: 700;
    font-size: 23px;
    color: #fd4956;
    padding-top: 3px;
}
.recommend-other .other-result .other-price .other-price-symbol{
    font-size: 14px;
}
.recommend-other .other-result .other-price .other-price-word{
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    margin-left: 5px;
}
.recommend-other .other-result .buy-btn{
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid #fd4956;
    color: #fd4956;
    text-align: center;
    line-height: 40px;
    margin-top: 24px;
    border-radius: 3px;
    font-weight: 700;
    font-size: 15px;
}
.recommend-more{
    margin-top: 45px;
}
.recommend-more .more{
    position: relative;
    float: left;
    width: 228px;
    border: 1px solid #e6ebf5;
    box-shadow: 0 3px 4px 0 rgba(215,219,228,.51);
}
.recommend-more .more .more-title{
    margin: 18px 0 0 10px;
}
.recommend-more .more .more-title .more-title-word{
    color: #5a5e66;
    font-size: 14px;
}
.recommend-more .more .more-title .more-change{
    color: #ff7955;
    padding-left: 27px;
    font-size: 12px;
    cursor: pointer;
}
.recommend-more .more .more-title .more-change .icon-change{
    font-size: 12px;
}
.recommend-more .more .more-content{
    position: relative;
    padding-bottom: 12px;
    padding-top: 16px;
    display: inline-block;
    cursor: pointer;
}
.recommend-more .more .more-content .product-item{
    width: 100%;
    font-size: 12px;
    padding: 8px;
    background: #fff;
}
.recommend-more .more .more-content .product-item .product-img-holder{
    width: 210px;
    height: 210px;
    background: #c0d5f1;
}
.recommend-more .more .more-content .product-item .product-item-price{
    display: inline-block;
    font-weight: 700;
    color: #ee2751;
    margin: 15px 0;
}
.recommend-more .more .more-content .product-item .price-word{
    font-size: 18px;
}
.recommend-more .more .more-content .product-item .product-item-info{
    margin-bottom: 10px;
}
.recommend-more .more .more-content .product-item .product-item-info .product-item-name{
    display: inline-block;
    width: 165px;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 16px;
    overflow: hidden;
}
.recommend-more .more .more-content .product-item .product-item-info .product-item-location{
    text-align: right;
    display: inline-block;
    width: 20%;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 16px;
    overflow: hidden;
    float: right;
    font-size: 13px;
    color: #878d99;
}
.recommend-more .more .more-content .product-item .product-item-tags{
    margin-bottom: 5px;
}
.recommend-more .more .more-content .product-item .product-item-tags .product-tag-self{
    background: #f7c782;
    border: 1px solid #f7c782;
    color: #fff;
}
.recommend-more .more .more-content .product-item .product-item-tags .product-tag-self{
    border-radius: 2px;
    padding: 0 3px;
    margin-right: 5px;
    height: 17px;
    line-height: 16px;
    display: inline-block;
}
.recommend .recommend-more .introduce{
    position: relative;
    width: 960px;
    margin-left: 240px;
}
.recommend .recommend-more .introduce .el-tabs--border-card{
    border: 1px solid #e6ebf5;
    box-shadow: 0 3px 4px 0 rgba(215,219,228,.51);
}
.recommend .recommend-more .introduce .el-tabs--border-card>.el-tabs__header    {
    background-color: #f5f7fa;
    border-bottom: 1px solid #dfe4ed;
    margin: 0;
}
.el-tabs__nav-wrap{
    overflow: hidden;
    margin-bottom: -1px;
    position: relative;
}
.el-tabs__nav-scroll{
    overflow: hidden;
}
.el-tabs__nav{
    white-space: nowrap;
    position: relative;
    transition: transform .3s;
    float: left;
    z-index: 2;
}

.recommend-more .introduce {
    position: relative;
    width: 960px;
    margin-left: 240px;
    margin-bottom: 50px;
}
.recommend-more .introduce .el-tabs--border-card {
    border: 1px solid #e6ebf5;
    box-shadow: 0 3px 4px 0 rgba(215,219,228,.51);
}
.el-tabs--border-card {
    background: #fff;
    border: 1px solid #d8dce5;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
}
.el-tabs--border-card>.el-tabs__header {
    background-color: #f5f7fa;
    border-bottom: 1px solid #dfe4ed;
    margin: 0;
}
.el-tabs__header {
    padding: 0;
    position: relative;
    margin: 0 0 15px;
}




.el-tabs__nav-wrap {
    overflow: hidden;
    margin-bottom: -1px;
    position: relative;
}
.recommend-more .introduce .el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active {
    color: #ff9072;
    background-color: #fff;
    border-right-color: #d8dce5;
    border-left-color: #d8dce5;
    border-bottom-color: #d8dce5;
    border-top: 2px solid #ff9072;
    padding-top: 0;
}
.recommend-more .introduce .el-tabs--border-card>.el-tabs__header .el-tabs__item {
    margin: 0 -1px;
    line-height: 48px;
    height: 48px;
    padding-top: 1px;
}
.recommend-more .introduce .el-tabs--border-card>.el-tabs__header .el-tabs__item {
    margin: 0 -1px;
    line-height: 48px;
    height: 48px;
    padding-top: 1px;
    cursor: pointer;
}
.el-tabs__item {
    padding: 0 20px;
    height: 40px;
    box-sizing: border-box;
    line-height: 40px;
    display: inline-block;
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    color: #2d2f33;
    position: relative;
}
.resize-triggers, .resize-triggers > div, .contract-trigger:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}
.resize-triggers {
    animation: 1ms resizeanim;
    visibility: hidden;
    opacity: 0;
}
.resize-triggers > div {
    background: #eee;
    overflow: auto;
}
.recommend .recommend-more .el-tab-fixed .el-tabs__content {
    margin-top: 39px;
    overflow: visible;
}
.el-tabs--border-card>.el-tabs__content {
    padding: 15px;
}
.el-tabs__content {
    overflow: hidden;
    position: relative;
}
.recommend-more .el-tab-fixed .el-tabs__header {
    position: fixed;
    margin-left: 0;
    top: 0;
    width: 960px;
    z-index: 99;
}
.recommend-more .el-tab-fixed .el-tabs__header {
    position: fixed;
    margin-left: 0;
    top: 0;
    width: 960px;
    z-index: 99;
}
.recommend-more .introduce .introduce-pics {
    padding: 0 4px 20px;
}
.recommend-more .introduce .introduce-pics .introduce-pic {
    display: inline-block;
    cursor: pointer;
    width: 100%;
}
.recommend-more .introduce .introduce-pics .introduce-pic img {
    width: 100%;
}
img {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}
.product-row {
    position: relative;
    padding-bottom: 35px;
}
.product-row .title {
    margin-top: 40px;
}
.product-row .title .row-icon-style {
    color: #ff7955;
}
.icon-like:before {
    content: "\E640";
}
.product-row .title .title-word {
    font-size: 16px;
    color: #5a5e66;
}
.product-row .title .title-word-en {
    font-size: 16px;
    color: #b4bccc;
    text-transform: Uppercase;
    font-weight: 300;
    margin-left: 15px;
}
.product-row .title .more-change {
    color: #ff7955;
    padding: 3px 6px;
    margin-left: 20px;
    cursor: pointer;
    border: 1px solid #d8dce5;
    border-radius: 15px;
}
.product-row .title .more-change .icon-change-size {
    font-size: 12px;
}
.icon-change:before {
    content: "\E62F";
}

.product-row .product-row-content {
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-top: 30px;
}
.product-row {
    position: relative;
    padding-bottom: 35px;
    padding-top: 40px;
    border-top: 1px solid #D8DCE5;
}
.product-row .title .row-icon-style {
    color: #ff7955;
}
.icon-like:before {
    content: "\E640";
}
.product-row .title .title-word {
    font-size: 16px;
    color: #5a5e66;
}
.product-row .title .title-word-en {
    font-size: 16px;
    color: #b4bccc;
    text-transform: Uppercase;
    font-weight: 300;
    margin-left: 15px;
}
.product-row .title .more-change {
    color: #ff7955;
    padding: 3px 6px;
    margin-left: 20px;
    cursor: pointer;
    border: 1px solid #d8dce5;
    border-radius: 15px;
}
.product-row .title .more-change .icon-change-size {
    font-size: 12px;
}
.icon-change:before {
    content: "\E62F";
}
.product-row .product-row-content {
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-top: 30px;
}
.product-item {
    width: 100%;
    font-size: 12px;
    padding: 8px;
    background: #fff;
}
.product-item .product-img-holder {
    width: 210px;
    height: 210px;
    background: #c0d5f1;
}
.product-row .product-row-content .product-row-block {
    display: inline-block;
    border: 1px solid #e6ebf5;
    box-shadow: 0 1px 2px 0 #e6ebf5;
    margin-right: 15px;
}
.product-item {
    width: 100%;
    font-size: 12px;
    padding: 8px;
    background: #fff;
}
.product-row .product-row-content .product-row-block .product-item .product-img-holder img {
    padding: 0;
    transition: all .2s ease-in-out;
}
.product-item .price-word, .product-item .product-item-price {
    display: inline-block;
    font-weight: 700;
    color: #ee2751;
    margin: 15px 0;
}
.product-item .product-item-price {
    font-size: 20px;
}
.product-item .price-word {
    font-size: 18px;
}
.product-item .price-word, .product-item .product-item-price {
    display: inline-block;
    font-weight: 700;
    color: #ee2751;
    margin: 15px 0;
}
.product-item .product-item-info {
    margin-bottom: 10px;
}
.product-item .product-item-info .product-item-name {
    display: inline-block;
    width: 165px;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 16px;
    overflow: hidden;
}
.product-item .product-item-info .product-item-location, .product-item .product-item-info .product-item-name {
    font-size: 13px;
    color: #878d99;
}
.product-item .product-item-info .product-item-location {
    text-align: right;
    display: inline-block;
    width: 20%;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 16px;
    overflow: hidden;
    float: right;
}
.product-item .product-item-tags {
    margin-bottom: 5px;
}
.product-item {
    width: 100%;
    font-size: 12px;
    padding: 8px;
    background: #fff;
}
.product-item .product-item-tags .product-tag-self {
    background: #f7c782;
    border: 1px solid #f7c782;
    color: #fff;
}
.product-item .product-item-tags .product-tag {
    border-radius: 2px;
    padding: 0 3px;
    margin-right: 5px;
    height: 17px;
    line-height: 16px;
    display: inline-block;
}
.cs-product {
    font-size: 12px;
}













