/*****************头部样式设置********************/
body{
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #F1F1F1;;
}
body th,td,tr,input,div,h1,h2,h3,h4,h5,ul,li,a,img,dl,dt,dd,p{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    box-sizing: border-box;

}


/*********************中间内容的样式设置***********************/
.content{
    width: 1190px;
    margin: 10px auto 80px;
    min-height: 300px;
}
.content:after{
    display: block;
    content: "";
    clear: both;
}
.content .content_lf{
    float: left;
    width: 248px;
    padding: 30px 10px;
    min-height: 200px;
    background-color: #fff;
}
.content .content_rt{
    float: right;
    width: 930px;
    padding: 30px;
    min-height: 500px;
    background-color: #fff;
}

/***************************左边内容样式设置*********************/
.content_lf:after{
    content: "";
    display: block;
    clear: both;
}
.content_lf h4{
    color: #eb0c1c;
    border: 1px solid #ddd;
    padding: 5px 0;
    padding-left: 40px;
    border-radius: 15px;
    line-height: 25px;
    vertical-align: 25px;
    position: relative;
    cursor: pointer;
	font-size:16px;
}
.content_lf h4:before{
    display: block;
    content: "";
    clear: both;
    width: 4px ;
    height: 20px;
    background-color: #eb0c1c;
    position: absolute;
    left: 18px;
    top: 8px;
}
.content_lf li{
    padding: 10px 0;
    margin: 10px 0;
    position: relative;
    padding-left: 40px;
}
.content_lf li a{
    color: #969696;
    font-size: 15px;
}
.content_lf li:before{
    position: absolute;
    display:block;
    content: "";
    clear: both;
    width: 5px;
    height: 5px;
    background-color: #000;
    border-radius: 50%;
    left: 25px;
    top: 19px;
}
.content_lf li.hover:before{
    width:0;
    height:0;
}
.content_lf .hover{
    background-color: #EFF0EF;
}
.content_lf .hover a{
    color: #33CC99;
}
.content_lf li:hover{
    background-color: #EFF0EF;
}
.content_lf li:hover a{
    color: #33CC99;
}

.content_lf div{
    margin-bottom: 20px;
}

.content_lf h4 i{
    position: absolute;
    right: 15px;
    width: 16px;
    height: 16px;
    top: 50%;
    transform: translateY(-50%);
}
.content_lf h4 .item{
    background-image: url("../image/arrow-right.png");
}
.content_lf h4 .active{
    background-image: url("../image/arrow-down.png");
}
/*************************content_rt样式设置************************/
.addBtn{
    margin: 20px 0;
}
.addBtn a{
    background-color: #258E3D;
    color: #fff;
    padding: 5px 10px 5px 22px;
    font-size: 13px;
    position: relative;
}
.addBtn a:before{
    display: block;
    content: "+";
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    top: -1px;
    left: 5px;
}
.information{
    width: 100%;
}
.information table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #eee;
}
.information th{
    background-color: #F5F5F5;
    padding: 15px 0;
    font-size: 14px;
    color: #666;
}
.information td,th{
    text-align: center;
}
.information td{
    border: 1px solid #eee;
    font-size: 13px;
    padding: 15px 0;
}
.select a{
    color: #000;
}
.active a{
    color: #FF9000;
}
.select i{
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: url(../image/defualt.png) center no-repeat;
    margin-bottom: -2px;
}
td.active i{
    background: url(../image/active.jpg) center no-repeat;
}



/*************************添加地址弹窗的样式设置******************/
.pop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 666;
    display: none;
}
.pop .pop_bg{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}
.add_detail{
    background-color: #fff;
    width: 500px;
    height: 340px;
    z-index: 888;
    position: absolute;
    top: 50%;
    left:  50%;
    margin-left: -250px;
    margin-top: -170px;
}
.add_detail .pop_title{
    background-color: #EBEBEB;
    color: #666;
    font-size: 13px;
    padding: 10px 15px;
    position: relative;
}
.add_detail .pop_title a{
    font-size: 26px;
    font-weight: bold;
    float: right;
    color: #CCCCCC;
    display: block;
    position: absolute;
    top: 0;
    right: 10px;
}
.add_detail div{
    height: 40px;
    line-height: 40px;
    margin: 10px 0;
}
.add_detail div input{
    padding: 8px 10px;
    border: 1px solid #DCDCDC;
    width: 60%;
    outline: none;
}
.add_detail div span{
    width: 90px;
    display: inline-block;
    font-size: 14px;
    padding-left: 20px;
    text-align: right;
    padding-right: 20px;
}
.add_detail div span strong{
    color: red;
    margin-right: 10px;
}
.add_detail .btnBox{
    text-align: center;
    margin-top: 40px;
}
.area_box{
    display: inline-block;
}
.area_box select{
    width: 90px;
    height: 25px;
    margin-right: 10px;
}
.btnBox a{
    display: inline-block;
    padding: 0 25px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border-radius: 5px;
}
.btnBox .cancel{
    background-color: #F8F8F8;
    color: #333;
    border: 1px solid #E8E8E8;
    margin-left: 20px;
}
.btnBox .save{
    background-color: #258E3D;
    color: #fff;
}
.confirm{
    display: none;
    position: fixed;
    z-index: 555;
    background-color: #000;
    top: 50%;
    left: 50%;
    color: #fff;
    width: 200px;
    height: 50px;
    margin-left: -100px;
    margin-top: -25px;
    line-height: 50px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 2px 3px 4px rgba(0,0,0,.6);
}
.confirm p{
    position: relative;
    padding-left: 25px;
}
.confirm p span{
    position: absolute;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    line-height: 18px;
    left: 20px;
    top: 14px;
}

/*页码*/
/* 分页 */
div.company_list_result_pages {
    display: none;
    position: relative;
    padding: 30px 0;
    text-align: center;
    height: 35px;
    font-size: 0;
}
div.company_list_result_pages a {
    color:#272727;
}
span.lastpage,
span.nextpage,
span.backhome,
span.prevpage,
span.pagesN a {
    border: 1px solid #ddd;
    display: inline-block;
    height: 33px;
    padding: 0 11px 0 12px;
    line-height: 33px;
    font-size: 12px;
    font-family: "微软雅黑";
}
span.prevpage {
    border-left: none;
}
span.prevpage a {
    background: url('../image/list_prevpage.jpg') left center no-repeat;
    padding-left: 17px;
}
span.pagesN {
    padding: 0 16px;
}
span.pagesN a.active {
    border: 1px solid #f89e19;
}
span.pagesN a {
    position: relative;
    font-style: normal;
}
span.nextpage a {
    background: url('../image/list_nextpage.jpg') right center no-repeat;
    padding-right: 17px;
}
span.lastpage {
    border-left: none;
}
span.total {
    font-size: 12px;
    padding-left: 10px;
}
span.total strong {
    color: red;
    font-weight: normal;
}
span.jump {
    display: inline-block;
    position: relative;
    vertical-align: -10px;
    width: 79px;
    height: 28px;
    margin-left: 10px;
    overflow: hidden;
}
#pages {
    width: 38px;
    height: 28px;
    border: 1px solid #e0e0e0;
    border-right: none;
    background: none;
    text-indent: 5px;
    line-height: 24px;
    position: absolute;
    left: 0;
    top: 0;
}
#btn {
    width: 41px;
    height: 28px;
    border: none;
    background: #f89e19;
    cursor: pointer;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
}

.link{
    display: none;
}















