body{
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #F1F1F1;;
}
body div,h1,h2,h3,h4,h5,ul,li,a,img,dl,dt,dd,p{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
}
input,select{
    background: none;
    outline: none;
    border: 1px solid #e0e0e0;;
}
input::placeholder{
    color: #b3b3b3;
}
a{
    text-decoration: none;
    color: #4c4c4c;
}
.lf{
    float:left;
}
.rt{
    float:right;
}
.clear:after, .clear:before {
    clear: both;
    display: block;
    content: "";
    height: 0;
    width: 100%;
    font-size: 0;
    visibility: hidden;
    zoom: 1;
}

/*********************中间内容的样式设置***********************/
.content{
    width: 1190px;
    margin: 10px auto 80px;
    min-height: 300px;
}
.content:after{
    display: block;
    content: "";
    clear: both;
}
.content .content_lf{
    float: left;
    width: 248px;
    padding: 30px 10px;
    min-height: 200px;
    background-color: #fff;
}
/***************************左边内容样式设置*********************/
.content_lf:after{
    content: "";
    display: block;
    clear: both;
}
.content_lf h4{
    color: #eb0c1c;
    border: 1px solid #ddd;
    padding: 5px 0;
    padding-left: 40px;
    border-radius: 15px;
    line-height: 25px;
    vertical-align: 25px;
    position: relative;
    cursor: pointer;
    font-size: 16px;
}
.content_lf h4:before{
    display: block;
    content: "";
    clear: both;
    width: 4px ;
    height: 20px;
    background-color: #eb0c1c;
    position: absolute;
    left: 18px;
    top: 8px;
}
.content_lf li{
    padding: 10px 0;
    margin: 10px 0;
    position: relative;
    padding-left: 40px;
}
.content_lf li a{
    color: #969696;
    font-size: 15px;
}
.content_lf li:before{
    position: absolute;
    display:block;
    content: "";
    clear: both;
    width: 5px;
    height: 5px;
    background-color: #000;
    border-radius: 50%;
    left: 25px;
    top: 19px;
}
.content_lf li.hover:before{
    width:0;
    height:0;
}
.content_lf .hover{
    background-color: #EFF0EF;
}
.content_lf .hover a{
    color: #33CC99;
}
.content_lf li:hover{
    background-color: #EFF0EF;
}
.content_lf li:hover a{
    color: #33CC99;
}

/*右边样式设置*/
.content .content_rt{
    float: right;
    width: 930px;
    padding: 30px 15px;
    min-height: 500px;
    background-color: #fff;
}
.content_tab{
    width: 100%;
    height: 40px;
}
.content_tab ul li{
    width: 20%;
    float: left;
    text-align: center;
    background: #271a6c;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
}
.content_tab ul li.on{
    background: #ff8a00;
}
.content_tab ul li:hover{
    background: #ff8a00;
}
.content_tab ul li a{
    color: #fff;
    display: inline-block;
    width: 100%;
    height: 100%;
}
.money_tab{
    width: 100%;
    height: 40px;
    border-bottom: 2px solid #e4e4e4;
}
.money_tab ul li{
    float: left;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    color: #4c4c4c;
}
.money_tab ul li.on{
    border-bottom: 2px solid #ff8a00;
}
.money_tab ul li:hover{
    border-bottom: 2px solid #ff8a00;
}
.money_chat{
    font-size: 14px;
    height: 40px;
    line-height: 40px;
}
.money_chat:hover a{
    color: #ff8a00;
}

.bank_cont{
    width: 100%;
    margin-top: 1px;
}
.bank_cont ul li{
    font-size: 0;
}
.bank_cont_title{
    background: #f2f2f2;
}
.bank_cont li span{
    display: inline-block;
    color: #bcbcbc;
    width: 25%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 14px;
    box-sizing: border-box;
}
.bank_cont_a{
    border: 1px solid #e0e0e0;
    border-top: none;
}
.bank_cont_a span:not(:last-child){
    border-right: 1px solid #e0e0e0;
}
.bank_bd{
    text-align: right;
    margin-top: 30px;
}
.bank_bd a{
    padding: 5px 10px;
    background: #ff8a00;
    color: #fff;
    border-radius: 3px;
}
/*没数据*/
.data_null{
    font-size: 16px;
    width: 210px;
    text-align: center;
    margin: 0 auto;
    padding-top: 260px;
    height: 550px;
}
.data_null a{
    display: inline-block;
    background: red;
    color: #fff;
    font-size: 12px;
    padding: 3px 5px;
    border-radius: 5px;
}



.bank_info{
    margin-top: 30px;
    border: 1px solid #e0e0e0;
    height: auto;
    color: #464545;
}
.bank_info_cont{
    width: 700px;
    margin: 0 auto;
    padding: 30px 0;
}
.bank_info_cont ul li{
    height: 30px;
}
.bank_info_cont ul li:not(:first-child){
    margin-top: 20px;
}
.bank_info_a{
    width: 270px;
    height: 30px;
    line-height: 30px;
    text-align: right;
    font-size: 14px;
    padding-right: 20px;
}
.bank_info_b{
    width: 430px;
    height: 30px;
}
.bank_info_b select{
    height: 30px;
    width: 200px;
    padding-left: 10px;
}
.bank_info_b .bank_city{
    width: 150px;
    float: left;
}
.bank_info_b input{
    width: 250px;
    height: 30px;
    padding-left: 10px;
}
.bank_info_b .jym{
    padding: 5px 10px;
    background: #ededed;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-left: 10px;
}
.bank_info_btn{
    height: 40px;
    border-radius: 5px;
    margin-left: 370px;
}
.bank_btn{
    display: inline-block;
    width: 100px;
    height:35px;
    line-height: 35px;
    text-align: center;
    background: #ff8a00;
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
}
.bank_info_btn .qx_btn{
    background: #ededed;
}
.bank_info_btn span{
    color: red;
}
.pp{
    width: 700px;
    margin: 0 auto;
    border: 1px solid #ff9c00;
    background: #fffada;
    color: #ff9c00;
    height: 28px;
    line-height: 28px;
    text-indent: 20px;
    margin-top: 30px;
    overflow: hidden;
    margin-bottom: 50px;
}