body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, textarea, th, td, a {
    font-family: 微软雅黑, Microsoft YaHei, \5FAE\8F6F\96C5\9ED1;
    color: #4c4c4c;
}
body{
	background:#f1f1f1;
	font-size:12px;
}
*{
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
ul, li, ol {
    list-style: none outside none;
}
img{
    width: 100%;
    height: 100%;
}
.fr{
    display: inline;
    float: right;
}
.fl {
    display: inline;
    float: left;
}
input, button {
    border: 0;
    outline: none;
    background: none;
    filter: chroma(color=#000000);
}
a, a * {
    text-decoration: none;
    -webkit-transition: all .3s linear 0s;
    -moz-transition: all .3s linear 0s;
    -ms-transition: all .3s linear 0s;
    outline: none;
}
.clear {
    clear: both;
    zoom: 1;
}
.clear:after, .clear:before {
    clear: both;
    display: block;
    content: "";
    height: 0;
    width: 100%;
    font-size: 0;
    visibility: hidden;
    zoom: 1;
}
.content{
    width: 1190px;
    margin: 10px auto 80px;
    min-height: 300px;
}
.content:after{
    display: block;
    content: "";
    clear: both;
}
.content .content_lf{
    float: left;
    width: 248px;
    padding: 30px 10px;
    min-height: 200px;
    background-color: #fff;
}
/***************************左边内容样式设置*********************/
.content_lf:after{
    content: "";
    display: block;
    clear: both;
}
.content_lf h4{
    color: #eb0c1c;
    border: 1px solid #ddd;
    padding: 5px 0;
    padding-left: 40px;
    border-radius: 15px;
    line-height: 25px;
    vertical-align: 25px;
    position: relative;
    cursor: pointer;
    font-size: 16px;
}
.content_lf h4:before{
    display: block;
    content: "";
    clear: both;
    width: 4px ;
    height: 20px;
    background-color: #eb0c1c;
    position: absolute;
    left: 18px;
    top: 8px;
}
.content_lf li{
    padding: 10px 0;
    margin: 10px 0;
    position: relative;
    padding-left: 40px;
}
.content_lf li a{
    color: #969696;
    font-size: 15px;
}
.content_lf li:before{
    position: absolute;
    display:block;
    content: "";
    clear: both;
    width: 5px;
    height: 5px;
    background-color: #000;
    border-radius: 50%;
    left: 25px;
    top: 19px;
}
.content_lf li.hover:before{
    width:0;
    height:0;
}
.content_lf .hover{
    background-color: #EFF0EF;
}
.content_lf .hover a{
    color: #33CC99;
}
.content_lf li:hover{
    background-color: #EFF0EF;
}
.content_lf li:hover a{
    color: #33CC99;
}





.password{
    width: 930px;
    padding:30px;
	float:right;
	background:#fff;
}
.password .pas_box{
    width: 870px;
    margin: 0 auto;
}
.pas_box .position p{
	font-size: 20px;
    color: #f67404;
    font-weight: 800;
}
.position a {
    font-size: 14px;
    line-height: 38px;
}
.position span {
    color: #808080;
    font-size: 14px;
    line-height: 38px;
}
.pas_box .contentt{
    border-radius: 4px;
    background: #ffffff;
    height: 540px;
    padding-top: 50px;
}
.pas_box .contentt .get_procedure{
    width: 656px;
    margin: 0 auto 46px;
    border-bottom: 2px solid #eeeeee;
    height: 38px;
}
.get_procedure ul{
    width: 520px;
    margin: 0 auto;
}
.get_procedure ul li{
    float: left;
    width: 173px;
    font-size: 16px;
    line-height: 38px;
    height: 38px;
    text-align: center;
}
.get_procedure ul li i{
    background: url(../image/login_icon.png) no-repeat -59px -2px;
    height: 18px;
    width: 18px;
    display: inline-block;
    font-size: 8px;
    line-height: 18px;
    color: #fff;
    margin-right: 6px;
}
.get_procedure ul li.on{
    border-bottom: 2px solid #eb0c1c;
}
.get_procedure ul li.on i {
    background-position: -33px -2px;
}
form ,.reset_success{
    width: 400px;
    margin: auto;
}
.form_item {
    width: 398px;
    height: 50px;
    background-color: #ffffff;
    border: solid 1px #e2e2e2;
    margin-bottom: 10px;
}
.form_item label {
    display: inline-block;
    float: left;
    width: 86px;
    height: 100%;
    border-right: 1px solid #e2e2e2;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    color: #666;
}
.input-control {
    position: relative;
    display: inline-block;
    float: left;
    height: 100%;
}
.form_item input {
    height: 100%;
    padding-left: 14px;
    font-size: 14px;
}
.form_mobile input {
    width: 290px;
}
.input-control-clear {
    display: none;
    width: 20px;
    height: 20px;
    background: url(../images/close.png) no-repeat;
    background-position: center center;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -10px;
    cursor: pointer;
}
.form_code button {
    width: 115px;
    height: 100%;
    background: #f67404;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    border-left: 1px solid #e2e2e2;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.form_code button:not(:disabled):hover {
    background: #248de6;
    color: #fff;
}
.form_submit {
    width: 399px;
    height: 46px;
    background-color: #ef2d1d;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-top: 34px;
    transition: background-color 0.2s;
}
.form_submit:not(:disabled):active {
    background-color: #e8e8e8;
}
.newpass_txt {
    text-align: center;
    color: #666666;
    margin-bottom: 28px;
}
.newpass_txt .newpass_txt_icon {
    background: url(../image/login_icon.png) no-repeat -42px -25px;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 6px;
    vertical-align: -3px;
}
.npassword_label{
    display: inline-block;
    width: 88px;
    text-align: right;
    font-size: 14px;
    color: #4c4c4c;
}
.inp {
    padding: 10px;
    border: 1px solid #e5e5e5;
    font-size: 14px;
    width: 300px;
}
.error{
    height: 30px;
    line-height: 30px;
    padding-left: 22px;
    margin-left: 75px;
    color: #f71d0d;
}
.success_box .img{
    width:60px;
    height: 50px;
    float: left;
}
.success_box .success_title{
    float: left;
    width: 320px;
    height: 50px;
    padding:9px 0 0 5px;
}
/* /修改密码/ */
.yzmobile{
    font-size: 16px;
    line-height: 40px;
    font-weight: bold;
}
.form_tit {
    width: 145px;
    text-align: right;
    line-height: 40px;
    margin-right: 10px;
    font-weight: normal;
}
.btn_sub {
    margin-left: 140px;
    margin-top: 36px;
    border: 1px solid #d56001;
    display: inline-block;
    line-height: 38px;
    font-size: 16px;
    color: #fff;
    background: #f67404;
    padding: 0 60px;
    border-radius: 2px;
    cursor: pointer;
}
.btn_sub:hover {
    opacity: 0.8;
}