body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, textarea, th, td,a{
    font-family: 微软雅黑, Microsoft YaHei, 微软雅黑;
    font-size: 12px;
    color: #282828;
}
i, em, b {
    font-style: normal;
}
ol, ul ,li {
    list-style: none;
}
* {
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    border: 0;
    outline: none;
    vertical-align: top;
}
.fl {
    display: inline;
    float: left;
}
.fr {
    display: inline;
    float: right;
}
.clear {
    clear: both;
    zoom: 1;
}
a, a * {
    text-decoration: none;
    -webkit-transition: all .3s linear 0s;
    -moz-transition: all .3s linear 0s;
    -ms-transition: all .3s linear 0s;
    outline: none;
}
a:hover {
    color: #f20e0e;
}
.bg_grey {
    background: #f0f0f0;
}
/*============头部顶部================*/
.header_wrap {
    height: 32px;
    line-height: 32px;
    background: #f6f6f6;
}
.header_topmy {
    padding: 0 0 0 20px;
}
.clear::after, .clear::before {
    clear: both;
    display: block;
    content: "";
    height: 0;
    width: 100%;
    font-size: 0;
    visibility: hidden;
    zoom: 1;
}
.header_topmy .my_name {
    color: #eb0c1c;
}
.header_welcome a {
    padding: 0 10px;
    line-height: 32px;
}
.my_messagewrap {
    z-index: 999999;
    position: relative;
    height: 32px;
    width: 66px;
}
.header_topmy .my_message {
    background: url(../images/my_message.png) no-repeat right -3px;
    padding-right: 18px;
    line-height: 32px;
    height: 32px;
    cursor: pointer;
    margin: 0;
    border-bottom: none;
}
.my_messagecont {
    display: none;
    width: 250px;
    position: absolute;
    left: 0;
    top: 28px;
    border: 1px solid #e5e5e5;
}
.my_m_triangle {
    background: url(../images/my_m_triangle.jpg) no-repeat 20px top;
    height: 6px;
    position: absolute;
    width: 100%;
    top: -6px;
}
.my_messagecont .hd li {
    float: left;
    width: 50%;
    background: #fafafa;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    border-bottom: 1px solid #e5e5e5;
}
.my_messagecont .hd li.on {
    background: #fff;
    border-bottom: #fff 1px solid;
}
.my_messagecont .bd ul {
    padding: 0 10px;
    height: 192px;
    overflow-x: hidden;
    *overflow: hidden;
    background: #fff;
    width: 230px;
}
.my_messagecont .bd .img {
    text-align: center;
}
.my_messagecont .more {
    background: #fafafa;
    line-height: 28px;
    height: 28px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}
.header_menu {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 32px;
    line-height: 32px;
}
.header_topmy .header_menu {
    right: 20px;
}
.header_menu li {
    float: left;
    position: relative;
    line-height: 32px;
}
.header_menu li a {
    padding: 0 15px;
    line-height: 32px;
    height: 32px;
    display: inline-block;
    white-space: nowrap;
}
.header_menu .hmenu_hd i {
    display: inline-block;
    background: url(../images/icon.png) no-repeat -140px 0;
    width: 9px;
    height: 32px;
    margin-left: 4px;
}
.header_menu .hmenu_hd a:hover{
    background: #fff;
}
.header_menu .hmenu_hd a:hover i {
    background-position: -140px -32px;
}
.header_menu .hmenu:hover .site_cont{
    display:block;
}
.header_menu i, .menu_wrap i, .head_wrap i {
    text-indent: -9999999px;
}
.header_menu .site_cont {
    position: absolute;
    right: 0;
    left: auto;
    top: 32px;
    background: #fff;
    padding: 25px 15px;
    width: 910px;
    border: 1px solid #f6f6f6;
    border-top: none;
    display:none;
}
.header_menu .site_cont .site_cont_list {
    float: left;
    padding: 0 2%;
    width: 29%;
}
.header_menu .site_cont h3 {
    font-size: 16px;
    padding: 0 0 8px 15px;
}
.header_menu .site_cont .cname_cont_list h3 {
    color: #f56a00;
}
.header_menu .site_cont .dname_cont_list {
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    height: 240px;
}
.header_menu .site_cont .dname_cont_list h3 {
    color: #2263d4;
}
.header_menu li.header_tel {
    margin-left: 15px;
}
.font14 {
    font-size: 14px;
}
.fontred {
    color: #f20e0e;
}
/*==================导航======================*/
.header_my {
    background: #fff;
    padding: 0 20px;
}
.header_myleft .dh {
    width: 146px;
    height: 30px;
    margin-top: 20px;
    position: relative;
}
.header_myleft .dh .hd {
    cursor: pointer;
    font-size: 16px;
    width: 95px;
    padding-left: 49px;
    height: 28px;
    border: 1px solid #dcdcdc;
    line-height: 28px;
    background: #f6f6f6 url(../images/my_dht.jpg) 10px center no-repeat;
}
.header_myleft .dh .bd {
    display: none;
    position: absolute;
    left: 0;
    top: 29px;
    width: 95px;
    border: 1px solid #dcdcdc;
    padding: 10px 0 10px 49px;
    z-index: 2;
}
.header_myright {
    margin-top: 20px;
}
.header_myright .cart {
    display: inline;
    margin-left: 20px;
}
.header_myright .cart a {
    display: inline-block;
    background: #f6f6f6 url(../images/my_cart.jpg) no-repeat 10px center;
    border: 1px solid #dcdcdc;
    line-height: 28px;
    padding: 0 10px 0 35px;
}
.myorder_container {
    padding: 0;
}
.my_nav {
    width: 180px;
    height: 900px;
}
.my_nav_cont {
    width: 180px;
    background: #fff;
    height: 100%;
}
.my_nav .nac_tit {
    background: url(../images/my_nav.jpg) 30px center no-repeat;
    color: #eb0c1c;
    font-size: 16px;
    line-height: 60px;
    height: 60px;
    text-align: center;
}
.my_nav .sideMen .nav-l1-items {
    cursor: pointer;
}
.my_nav .sideMen a {
    font-size: 16px;
    line-height: 48px;
    display: block;
    transition: none;
}
.my_nav .sideMen .nav-l1-items-link {
    padding-left: 10px;
    border-top: 1px solid #e4e4e4;
}
.my_nav .sideMen a:hover, .my_nav .sideMen a.current {
    background-color: #eb0c1c;
    color: #fff;
}
.my_nav .sideMen .updown {
    display: inline-block;
    width: 16px;
    margin-right: 6px;
    background-position: left center;
    background-repeat: no-repeat;
    text-indent: -999999px;
}
.my_nav .sideMen .updown_u {
    background-image: url(../images/plus_black.png);
}
.my_nav .sideMen a:hover .updown_u, .my_nav .sideMen a.current .updown_u {
    background-image: url(../images/plus_white.png);
}
.my_nav .sideMen a:hover .updown_d, .my_nav .sideMen a.current .updown_d {
    background-image: url(../images/Subtract_white.png);
}
.my_nav .sideMen .nav-l2-items-link {
    padding-left: 32px;
    font-size: 14px;
    border-top: 1px solid #e4e4e4;
}
.my_nav .sideMen .nav-l4-items-link {
    padding-left: 52px;
    font-size: 14px;
    border-top: 1px solid #e4e4e4;
}
.my_nav .sideMen .updown_d {
    background-image: url(../images/Subtract_black.png);
}
.my_nav .sideMen .nav-l3 {
    background: #f6f6f6;
}
.my_nav .sideMen .nav-l3-items {
    margin-left: 43px;
    position: relative;
}
.my_nav .sideMen .nav-l3-items.has14 {
     margin-left: 63px;
 }
.my_nav .sideMen .nav-l3-items .nav-l3-line {
    position: absolute;
    top: -16px;
    left:-4px;
    display: block;
    width: 12px;
    height: 38px;
    border-bottom: 1px dashed #aaa;
    border-left: 1px dashed #aaa;
}
.my_nav .sideMen .nav-l3-items-link {
    font-size: 14px;
    margin: 10px 0 10px 13px;
    padding-left: 4px;
    line-height: 20px;
    display: inline-block;
}
.my_nav .sideMen .li-open {
    border-bottom: 1px solid #f6f6f6;
    background: #f6f6f6;
}
/*====================中间内容===========================*/
.my_cont {
    width: 71%;
    margin: 20px 0 20px 20px;
    overflow: hidden;
}
.my_cont .my_id {
    border: #eeeeee 1px solid;
    background: #fff;
}
.my_cont .my_id_top {
    border-bottom: #eeeeee 1px solid;
    background: #f8f8f8;
}
.my_cont .my_id li {
    width: 30%;
    float: left;
    padding: 20px 0 20px 3%;
}
.my_cont .my_id li .myid_pic {
    border: #dcdcdc solid 5px;
    border-radius: 100%;
    margin-right: 3%;
    display: inline;
}
.my_cont .my_id li .myid_pic img {
    border-radius: 100%;
}
.my_cont .my_id li .myid_info .tit {
    font-size: 16px;
    color: #4c4c4c;
    font-weight: bold;
    margin-bottom: 6px;
    line-height: 24px;
}
.my_cont .my_id li .myid_info .my_id_tel {
    background: #f39aa0 url(../images/my_idtel.jpg) no-repeat left center;
    padding: 0 5px 0 24px;
    color: #fff;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin-right: 7px;
}
.my_cont .my_id li .myid_info .info a {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
    line-height: 20px;
    vertical-align: -5px;
    *vertical-align: 0px;
}
.my_cont .my_id li .myid_info .my_id_id {
    background: #d9d9d9 url(../images/my_id.png) no-repeat -60px 0;
}
.my_cont .my_id li .myid_info .my_id_id_hover {
    background-color: #8bd2e7;
}
.my_cont .my_id_top .tit01 {
    font-size: 14px;
    line-height: 28px;
}
.my_cont .my_id_top .tit02 .price {
    margin-right: 4%;
}
.my_cont .my_id_top .tit02 .price strong {
    font-size: 16px;
    font-weight: normal;
}
.my_cont .my_id_top .tit02 .btn {
    width: 48px;
    height: 22px;
    border: 1px #dcdcdc solid;
    border-radius: 2px;
    line-height: 22px;
    display: inline-block;
    margin-right: 7px;
    text-align: center;
}
.my_cont .my_id_top .tit03 a {
    color: #0096e1;
}
.my_cont .my_id_bottom .tit01 {
    font-size: 14px;
    line-height: 28px;
}
.my_cont .my_id_bottom .tit02 .price {
    margin-right: 4%;
}
.my_cont .my_id_bottom .tit02 .price strong {
    font-size: 16px;
    font-weight: normal;
}
.my_cont .my_id_bottom .tit02 .btn {
    color: #0096e1;
}
.my_shortcut {
    background: #fff;
    margin-top: 20px;
    border: #eeeeee 1px solid;
    padding: 20px 1% 10px 0;
    *padding-bottom: 20px;
}
.my_shortcut li {
    width: 13%;
    padding-right: 1.6%;
    margin: 0 0 10px 2%;
    float: left;
    height: 60px;
    line-height: 60px;
    background: #e9ab4e;
    border-radius: 60px;
}
.my_shortcut li a {
    font-size: 16px;
    color: #fff;
    display: block;
    width: 94%;
    height: 100%;
    padding-left: 6%;
    line-height: 60px;
}
.my_shortcut li.my_icon04 {
    background: #53b7c3;
}
.my_shortcut li.my_icon05 {
    background: #888888;
}
.my_shortcut li.my_icon06 {
    background: #dd976c;
}
.my_list {
    background: #fff;
    border-bottom: 1px solid #eeeeee;
    margin-top: 20px;
}
.my_list_tit {
    height: 38px;
    line-height: 38px;
    background: #f8f8f8;
    border-bottom: 1px solid #eeeeee;
    padding: 0 25px;
}
.my_list_tit .tit {
    display: inline-block;
    border-left: 2px solid #eb0c1c;
    height: 20px;
    line-height: 20px;
    padding-left: 10px;
    font-size: 16px;
    *margin-top: 10px;
}
.my_list_tit .txt li {
    float: left;
    padding: 0 10px;
}
.my_list_tit .txt li a {
    line-height: 38px;
}
.my_list_tit .txt li a span {
    color: #eb0c1c;
}
.my_order_cont {
    padding: 35px;
}
.my_order_cont_list {
    background: #fff;
    border: 1px solid #eeeeee;
    margin-bottom: 10px;
}
.my_order_cont_list .tit {
    height: 30px;
    background: #e5e5e5;
    line-height: 30px;
    font-size: 14px;
    padding: 0 12px;
}
.my_order_cont_list .tit .time {
    font-size: 12px;
    font-weight: bold;
    margin-right: 6px;
}
.my_order_list {
    padding: 12px;
}
.my_order_list .info {
    width: 42%;
}
.my_order_list .info .img {
    margin-right: 15px;
    display: inline;
    text-align: center;
}
.my_order_list .info .txt {
    width: 50%;
}
.my_order_list .info .txt li {
    line-height: 22px;
    color: #7b7b7b;
}
.my_order_list .info .txt .tit01 {
    height: 16px;
    line-height: 16px;
    display: inline-block;
    background: #428bf0;
    font-size: 10px;
    font-weight: normal;
    color: #fff;
    padding: 0 5px;
    margin-right: 10px;
}
.my_order_list .info .txt .tit02 {
    font-size: 14px;
    font-weight: bold;
}
.my_order_list .info .txt li {
    line-height: 22px;
    color: #7b7b7b;
}
.my_order_list .detail {
    width: 16%;
}
.my_order_list .detail {
    display: inline;
    overflow: hidden;
}
.my_order_list .detail li {
    font-size: 14px;
    color: #eb0c1c;
}
.my_order_list .detail li span {
    font-size: 14px;
    color: #777777;
    line-height: 26px;
}
.my_order_list .price {
    overflow: hidden;
    color: #ff6600;
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    width: 14%;
    text-align: center;
    padding-top: 20px;
}
.my_order_list .success {
    width: 14%;
    line-height: 28px;
    padding-top: 20px;
}
.my_order_list .list {
    width: 14%;
}
.my_order_list .list a, .my_order_list .list li {
     font-size: 14px;
     line-height: 26px;
 }
.my_list {
    background: #fff;
    border-bottom: 1px solid #eeeeee;
    margin-top: 20px;
}
.my_list_tit {
    height: 38px;
    line-height: 38px;
    background: #f8f8f8;
    border-bottom: 1px solid #eeeeee;
    padding: 0 25px;
}
.my_collection_cont {
    padding: 10px 15px 20px 35px;
}
.my_collection_none {
    height: 46px;
    padding: 41px 0;
    margin-left: 40%;
}
.my_collection_none, .my_order_none {
    margin-left: 40%;
}
.my_collection_none dt {
    float: left;
    margin-right: 10px;
}
.my_collection_none dd {
    font-size: 16px;
    color: #4c4c4c;
    line-height: 46px;
}
/*==================右侧新闻==============================*/
.my_news {
    width: 320px;
    margin: 20px 0;
    overflow: hidden;
}
.my_news_slide {
    background: #fff;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.my_news_slide .hd {
    background: #f8f8f8;
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
    height: 39px;
    margin-bottom: 20px;
}
.my_news_slide .hd li {
    cursor: pointer;
    background: #fff;
    border-right: 1px solid #eeeeee;
    float: left;
    padding: 0 11px;
    border-top: 2px solid #fff;
    line-height: 37px;
    font-size: 14px;
}
.my_news_slide .hd li.on {
    border-top: 2px solid #eb0c1c;
    color: #eb0c1c;
}
.my_news_slide .bd li {
    height: 28px;
    overflow: hidden;
    width: 240px;
    margin: 0 auto;
}
.my_news_slide .bd a {
    line-height: 28px;
    font-size: 14px;
}
.my_news_slide .bd .more {
    text-align: right;
}
.my_news_slide .bd .more a {
    color: #808080;
}
.consoltbox {
    background: #fff;
    margin-bottom: 20px;
    text-align: center;
    padding: 32px 0 28px;
}
.consoltbox .consolt {
    display: inline-block;
    width: 242px;
    height: 40px;
    line-height: 40px;
    background: #087eda;
    font-size: 16px;
    color: #fff;
    margin-top: 12px;
}
.consoltbox .p {
    font-size: 14px;
    color: #4c4c4c;
    margin: 15px 0 10px;
}
.consoltbox .phone {
    font-size: 28px;
    color: #4c4c4c;
}
.my_wechat {
    background: #fff;
    padding: 20px 0;
}
.my_wechat p {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}
.my_wechat img {
    border: 1px solid #e0e0e0;
}
/*============底部=====================*/
.my_footer {
    color: #fff;
    background: #272727;
    padding: 20px 0;
    text-align: center;
    height: 18px;
    position: relative;
}
.my_footer strong {
    color: #eb0c1c;
}