.ui-table {
	table-layout: fixed;
	width: 100%;
	border: solid red 1px;
	margin: 0;
	border-collapse: collapse;
	border-spacing: 0;
}

.ui-table .ui-th {
	background: #E7EEF7 none repeat scroll 0% 0%;
	border: 1px solid #D8E2EB;
	font: 12px Arial, Helvetica, sans-serif, "ו";
	margin-right: 4px;
	padding: 1px 4px;
	text-align: right;
	width: 100px;
	white-space: nowrap;
}

.ui-table .ui-td {
	border: 1px solid #D8E2EB;
	padding: 3px 10px 3px 5px;
	vertical-align: middle;
	word-wrap: break-word;
	word-break: normal;
	white-space: normal;
}

.ui-toolbar {
	border-color: transparent;
	margin: 0px;
	background: #E7EEF7 none repeat scroll 0% 0%;
}