<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script src="../../fastdev/fastDev-import.js"></script>
		<script type="text/javascript" src="passwordModify.js"></script>
		<title>修改密码</title>
	</head>
	<body>
		<div class="rightbody">
		<form itype="Form" id="pwdModifyForm" requestType="post" action="user_modifyPassWord.action" onAfterConstruct="onAfterConstruct()" submitJson="false" saveInstance="true"   onSubmitSuccess="onSubmitSuccess()">
    		<table class="ui-form-table">
    			<tr>
    				<th class="ui-form-table-dt" style="width:100px;height:32px;">用户名：</th>
    				<td class="ui-form-table-dd"><div id="uname" rule="required" saveInstance="true"></div></td>
    			</tr>
    			<tr>
    				<th class="ui-form-table-dt" style="width:100px;height:32px;"><span class="ui-red">*</span>旧密码：</th>
    				<td class="ui-form-table-dd"><div itype="TextBox" id="oldPassword" type="password" width="100%" saveInstance="true" rule="required"></div></td>
    			</tr>
    			<tr>
    				<th class="ui-form-table-dt" style="width:100px;height:32px;"><span class="ui-red">*</span>新密码：</th>
    				<td class="ui-form-table-dd"><div itype="TextBox" id="newPassword" type="password"  width="100%" saveInstance="true" rule="required;MaxLength:50"></div></td>
    			</tr>
    			<tr>
    				<th class="ui-form-table-dt" style="width:100px;height:32px;"><span class="ui-red">*</span>确认新密码：</th>
    				<td class="ui-form-table-dd"><div itype="TextBox" id="newRePassword" type="password" saveInstance="true" height="60px" width="100%" rule="required;MaxLength:50"></div></td>
    			</tr>

    		</table>
    		
    	</form>
    	<div id="error_msg">
            <div id="pwd_error" class="ui-red" style="display: none">提示：两次输入的密码不一致，请重新输入！</div>
			<div id="same_error" class="ui-red" style="display: none">提示：新密码与旧密码相同！</div>
		</div>
		</div>
	</body>
</html>