

.icon-ex-application_cascade {
	background: url('../images/icons/application_cascade.png') no-repeat center
		center;
}


.icon-ex-application_delete {
	background: url('../images/icons/application_delete.png') no-repeat center
		center;
}


.icon-ex-application_double {
	background: url('../images/icons/application_double.png') no-repeat center
		center;
}


.icon-ex-lorry_error {
	background: url('../images/icons/lorry_error.png') no-repeat center
		center;
}

.icon-ex-map_magnify {
	background: url('../images/icons/map_magnify.png') no-repeat center
		center;
}

.icon-ex-page_white_camera {
	background: url('../images/icons/page_white_camera.png') no-repeat center
		center;
}

.icon-ex-transmit {
	background: url('../images/icons/transmit.png') no-repeat center
		center;
}


.icon-ex-calendar {
	background: url('../images/icons/calendar.png') no-repeat center
		center;
}

.icon-ex-camera_link {
	background: url('../images/icons/camera_link.png') no-repeat center
		center;
}

.icon-ex-flag_blue {
	background: url('../images/icons/flag_blue.png') no-repeat center
		center;
}
.icon-ex-application_form {
	background: url('../images/icons/application_form.png') no-repeat center
		center;
}

.icon-ex-application_form_magnify {
	background: url('../images/icons/application_form_magnify.png') no-repeat center
		center;
}

.icon-ex-application_view_gallery {
	background: url('../images/icons/application_view_gallery.png') no-repeat center
		center;
}


.icon-ex-chart_bar_link {
	background: url('../images/icons/chart_bar_link.png') no-repeat center
		center;
}


.icon-ex-chart_curve {
	background: url('../images/icons/chart_curve.png') no-repeat center
		center;
}


.icon-ex-chart_line_link {
	background: url('../images/icons/chart_line_link.png') no-repeat center
		center;
}


.icon-ex-chart_organisation {
	background: url('../images/icons/chart_organisation.png') no-repeat center
		center;
}



.icon-ex-car {
	background: url('../images/icons/car.png') no-repeat center
		center;
}

.icon-ex-cart {
	background: url('../images/icons/cart.png') no-repeat center
		center;
}

.icon-ex-chart {
	background: url('../images/icons/chart.png') no-repeat center
		center;
}

.icon-ex-chart_pie {
	background: url('../images/icons/chart_pie.png') no-repeat center
		center;
}

.icon-ex-clock {
	background: url('../images/icons/clock.png') no-repeat center
		center;
}
.icon-ex-coins {
	background: url('../images/icons/coins.png') no-repeat center
		center;
}


.icon-ex-medal_bronze_1 {
	background: url('../images/icons/medal_bronze_1.png') no-repeat center
		center;
}

.icon-ex-medal_bronze_2 {
	background: url('../images/icons/medal_bronze_2.png') no-repeat center
		center;
}

.icon-ex-medal_bronze_3 {
	background: url('../images/icons/medal_bronze_3.png') no-repeat center
		center;
}

.icon-ex-medal_bronze_add {
	background: url('../images/icons/medal_bronze_add.png') no-repeat center
		center;
}


.icon-ex-feed_edit {
	background: url('../images/icons/feed_edit.png') no-repeat center
		center;
}

.icon-ex-feed {
	background: url('../images/icons/feed.png') no-repeat center
		center;
}

.icon-ex-feed_go {
	background: url('../images/icons/feed_go.png') no-repeat center
		center;
}
.icon-ex-user_edit {
	background: url('../images/icons/user_edit.png') no-repeat center
		center;
}

.icon-ex-user_go {
	background: url('../images/icons/user_go.png') no-repeat center
		center;
}

.icon-ex-user {
	background: url('../images/icons/user.png') no-repeat center
		center;
}
.icon-ex-world_edit {
	background: url('../images/icons/world_edit.png') no-repeat center
		center;
}

.icon-ex-world {
	background: url('../images/icons/world.png') no-repeat center
		center;
}
.icon-ex-folder {
	background: url('../images/icons/folder.png') no-repeat center
		center;
}
.icon-ex-home {
	background: url('../images/icons/home.png') no-repeat center
		center;
}

.icon-ex-chart {
	background: url('../images/icons/chart.png') no-repeat center
		center;
}

.icon-ex-book {
	background: url('../images/icons/book.png') no-repeat center
		center;
}


.icon-ex-database_refresh {
	background: url('../images/icons/database_refresh.png') no-repeat center
		center;
}

.icon-ex-edit {
	background: url('../images/icons/edit.png') no-repeat center center;
}

.icon-ex-information {
	background: url('../images/icons/information.png') no-repeat center
		center;
}

.icon-ex-query {
	background: url('../images/icons/query.png') no-repeat center center;
}

.icon-ex-save {
	background: url('../images/icons/save.gif') no-repeat center center;
}

.icon-ex-accept {
	background: url('../images/icons/accept.gif') no-repeat center center;
}

.icon-ex-add {
	background: url('../images/icons/add.gif') no-repeat center center;
}

.icon-ex-delete {
	background: url('../images/icons/delete.gif') no-repeat center center;
}

.icon-ex-refresh {
	background: url('../images/icons/refresh.png') no-repeat center center;
}

.icon-ex-check {
	background: url('../images/icons/check.png') no-repeat center center;
}

.icon-ex-print {
	background: url('../images/icons/print.gif') no-repeat center center;
}

.icon-ex-grid {
	background: url('../images/icons/grid.gif') no-repeat center center;
}

.icon-ex-export {
	background: url('../images/icons/export.png') no-repeat center center;
}

.icon-ex-import {
	background: url('../images/icons/import.png') no-repeat center center;
}

.icon-ex-close2 {
	background: url('../images/icons/close2.png') no-repeat center center;
}

.icon-ex-close {
	background: url('../images/icons/close.png') no-repeat center center;
}

.icon-ex-cancel {
	background: url('../images/icons/cancel.png') no-repeat center center;
}

.icon-ex-form {
	background: url('../images/icons/form.png') no-repeat center center;
}

.icon-ex-treeleaf {
	background: url('../images/icons/tree-leaf.png') no-repeat center center;
}